# For PCBs designed using KiCad: http://www.kicad-pcb.org/
# Format documentation: http://kicad-pcb.org/help/file-formats/

# Temporary files
*.000
*.bak
*.bck
*.kicad_pcb-bak
*.sch-bak
*~
_autosave-*
*.tmp
*-rescue.lib
*-save.pro
*-save.kicad_pcb
fp-info-cache

# Netlist files (exported from Eeschema)
*.net

# Autorouter files (exported from Pcbnew)
*.dsn
*.ses

*.DS_Store
*.kicad_prl

CPLD/MAXII/db/*
CPLD/MAXII/incremental_db/*
CPLD/MAXII/GR8RAM.qws
CPLD/MAXV/db/*
CPLD/MAXV/incremental_db/*
CPLD/MAXV/GR8RAM.qws

/Hardware/MAX/GR8RAM-backups/*
/Hardware/LCMXO2/GR8RAM-backups/*
*.qws
/CPLD/incremental_db
/CPLD/db
