#
# Logical Preferences generated for Lattice by Synplify maplat2018q2p1, Build 055R.
#

# Period Constraints 
FREQUENCY PORT "PHI0" 1.0 MHz;
FREQUENCY NET "CLK" 44.3 MHz;


# Output Constraints 

# Input Constraints 

# Point-to-point Delay Constraints 



# Block Path Constraints 

BLOCK ASYNCPATHS;

# End of generated Logical Preferences.
