BLOCK RESETPATHS ;
BLOCK ASYNCPATHS ;
LOCATE COMP "PHI0" SITE "17" ;
LOCATE COMP "MISO" SITE "98" ;
LOCATE COMP "BA[0]" SITE "74" ;
LOCATE COMP "BA[1]" SITE "78" ;
LOCATE COMP "BA[2]" SITE "83" ;
LOCATE COMP "BA[3]" SITE "84" ;
LOCATE COMP "BA[4]" SITE "4" ;
LOCATE COMP "BA[5]" SITE "85" ;
LOCATE COMP "BA[6]" SITE "86" ;
LOCATE COMP "BA[7]" SITE "87" ;
LOCATE COMP "BA[8]" SITE "99" ;
LOCATE COMP "BA[9]" SITE "2" ;
LOCATE COMP "BA[10]" SITE "3" ;
LOCATE COMP "BA[11]" SITE "8" ;
LOCATE COMP "BA[12]" SITE "9" ;
LOCATE COMP "BA[13]" SITE "10" ;
LOCATE COMP "BA[14]" SITE "13" ;
LOCATE COMP "BA[15]" SITE "14" ;
LOCATE COMP "SW[1]" SITE "64" ;
LOCATE COMP "SW[2]" SITE "63" ;
LOCATE COMP "nDEVSEL" SITE "16" ;
LOCATE COMP "nIOSEL" SITE "15" ;
LOCATE COMP "nIOSTRB" SITE "18" ;
LOCATE COMP "nRESin" SITE "20" ;
LOCATE COMP "nWE" SITE "19" ;
LOCATE COMP "DQMH" SITE "34" ;
LOCATE COMP "DQML" SITE "32" ;
LOCATE COMP "RCKE" SITE "40" ;
LOCATE COMP "RA[0]" SITE "54" ;
LOCATE COMP "RA[1]" SITE "59" ;
LOCATE COMP "RA[2]" SITE "58" ;
LOCATE COMP "RA[3]" SITE "60" ;
LOCATE COMP "RA[4]" SITE "51" ;
LOCATE COMP "RA[5]" SITE "52" ;
LOCATE COMP "RA[6]" SITE "62" ;
LOCATE COMP "RA[7]" SITE "57" ;
LOCATE COMP "RA[8]" SITE "53" ;
LOCATE COMP "RA[9]" SITE "49" ;
LOCATE COMP "RA[10]" SITE "47" ;
LOCATE COMP "RA[11]" SITE "45" ;
LOCATE COMP "RA[12]" SITE "42" ;
LOCATE COMP "RBA[0]" SITE "43" ;
LOCATE COMP "RBA[1]" SITE "48" ;
LOCATE COMP "FCK" SITE "96" ;
LOCATE COMP "nFCS" SITE "88" ;
LOCATE COMP "nCAS" SITE "36" ;
LOCATE COMP "nDinOE" SITE "77" ;
LOCATE COMP "nDoutOE" SITE "1" ;
LOCATE COMP "nIRQout" SITE "12" ;
LOCATE COMP "nRAS" SITE "37" ;
LOCATE COMP "nRCS" SITE "41" ;
LOCATE COMP "nRESout" SITE "7" ;
LOCATE COMP "nRWE" SITE "35" ;
LOCATE COMP "MOSI" SITE "97" ;
LOCATE COMP "BD[0]" SITE "65" ;
LOCATE COMP "BD[1]" SITE "66" ;
LOCATE COMP "BD[2]" SITE "67" ;
LOCATE COMP "BD[3]" SITE "68" ;
LOCATE COMP "BD[4]" SITE "69" ;
LOCATE COMP "BD[5]" SITE "70" ;
LOCATE COMP "BD[6]" SITE "71" ;
LOCATE COMP "RD[0]" SITE "25" ;
LOCATE COMP "RD[1]" SITE "24" ;
LOCATE COMP "RD[2]" SITE "21" ;
LOCATE COMP "RD[3]" SITE "27" ;
LOCATE COMP "RD[4]" SITE "28" ;
LOCATE COMP "RD[5]" SITE "29" ;
LOCATE COMP "RD[6]" SITE "30" ;
LOCATE COMP "RD[7]" SITE "31" ;
LOCATE COMP "BD[7]" SITE "75" ;
IOBUF PORT "PHI0" IO_TYPE=LVCMOS33 PULLMODE=NONE ;
IOBUF PORT "MISO" IO_TYPE=LVCMOS33 PULLMODE=NONE ;
IOBUF PORT "BA[0]" IO_TYPE=LVCMOS33 PULLMODE=NONE ;
IOBUF PORT "BA[1]" IO_TYPE=LVCMOS33 PULLMODE=NONE ;
IOBUF PORT "BA[2]" IO_TYPE=LVCMOS33 PULLMODE=NONE ;
IOBUF PORT "BA[3]" IO_TYPE=LVCMOS33 PULLMODE=NONE ;
IOBUF PORT "BA[4]" IO_TYPE=LVCMOS33 PULLMODE=NONE ;
IOBUF PORT "BA[5]" IO_TYPE=LVCMOS33 PULLMODE=NONE ;
IOBUF PORT "BA[6]" IO_TYPE=LVCMOS33 PULLMODE=NONE ;
IOBUF PORT "BA[7]" IO_TYPE=LVCMOS33 PULLMODE=NONE ;
IOBUF PORT "BA[8]" IO_TYPE=LVCMOS33 PULLMODE=NONE ;
IOBUF PORT "BA[9]" IO_TYPE=LVCMOS33 PULLMODE=NONE ;
IOBUF PORT "BA[10]" IO_TYPE=LVCMOS33 PULLMODE=NONE ;
IOBUF PORT "BA[11]" IO_TYPE=LVCMOS33 PULLMODE=NONE ;
IOBUF PORT "BA[12]" IO_TYPE=LVCMOS33 PULLMODE=NONE ;
IOBUF PORT "BA[13]" IO_TYPE=LVCMOS33 PULLMODE=NONE ;
IOBUF PORT "BA[14]" IO_TYPE=LVCMOS33 PULLMODE=NONE ;
IOBUF PORT "BA[15]" IO_TYPE=LVCMOS33 PULLMODE=NONE ;
IOBUF PORT "SW[1]" IO_TYPE=LVCMOS33 PULLMODE=UP ;
IOBUF PORT "SW[2]" IO_TYPE=LVCMOS33 PULLMODE=UP ;
IOBUF PORT "nDEVSEL" IO_TYPE=LVCMOS33 PULLMODE=NONE ;
IOBUF PORT "nIOSEL" IO_TYPE=LVCMOS33 PULLMODE=NONE ;
IOBUF PORT "nIOSTRB" IO_TYPE=LVCMOS33 PULLMODE=NONE ;
IOBUF PORT "nRESin" IO_TYPE=LVCMOS33 PULLMODE=NONE ;
IOBUF PORT "nWE" IO_TYPE=LVCMOS33 PULLMODE=NONE ;
IOBUF PORT "DQMH" IO_TYPE=LVCMOS33 PULLMODE=NONE DRIVE=4 ;
IOBUF PORT "DQML" IO_TYPE=LVCMOS33 PULLMODE=NONE DRIVE=4 ;
IOBUF PORT "RCKE" IO_TYPE=LVCMOS33 PULLMODE=NONE DRIVE=4 ;
IOBUF PORT "RA[0]" IO_TYPE=LVCMOS33 PULLMODE=NONE DRIVE=4 ;
IOBUF PORT "RA[1]" IO_TYPE=LVCMOS33 PULLMODE=NONE DRIVE=4 ;
IOBUF PORT "RA[2]" IO_TYPE=LVCMOS33 PULLMODE=NONE DRIVE=4 ;
IOBUF PORT "RA[3]" IO_TYPE=LVCMOS33 PULLMODE=NONE DRIVE=4 ;
IOBUF PORT "RA[4]" IO_TYPE=LVCMOS33 PULLMODE=NONE DRIVE=4 ;
IOBUF PORT "RA[5]" IO_TYPE=LVCMOS33 PULLMODE=NONE DRIVE=4 ;
IOBUF PORT "RA[6]" IO_TYPE=LVCMOS33 PULLMODE=NONE DRIVE=4 ;
IOBUF PORT "RA[7]" IO_TYPE=LVCMOS33 PULLMODE=NONE DRIVE=4 ;
IOBUF PORT "RA[8]" IO_TYPE=LVCMOS33 PULLMODE=NONE DRIVE=4 ;
IOBUF PORT "RA[9]" IO_TYPE=LVCMOS33 PULLMODE=NONE DRIVE=4 ;
IOBUF PORT "RA[10]" IO_TYPE=LVCMOS33 PULLMODE=NONE DRIVE=4 ;
IOBUF PORT "RA[11]" IO_TYPE=LVCMOS33 PULLMODE=NONE DRIVE=4 ;
IOBUF PORT "RA[12]" IO_TYPE=LVCMOS33 PULLMODE=NONE DRIVE=4 ;
IOBUF PORT "RBA[0]" IO_TYPE=LVCMOS33 PULLMODE=NONE DRIVE=4 ;
IOBUF PORT "RBA[1]" IO_TYPE=LVCMOS33 PULLMODE=NONE DRIVE=4 ;
IOBUF PORT "FCK" IO_TYPE=LVCMOS33 PULLMODE=KEEPER DRIVE=24 SLEWRATE=FAST ;
IOBUF PORT "nFCS" IO_TYPE=LVCMOS33 PULLMODE=KEEPER DRIVE=4 ;
IOBUF PORT "nCAS" IO_TYPE=LVCMOS33 PULLMODE=NONE DRIVE=4 ;
IOBUF PORT "nDinOE" IO_TYPE=LVCMOS33 PULLMODE=NONE DRIVE=4 ;
IOBUF PORT "nDoutOE" IO_TYPE=LVCMOS33 PULLMODE=NONE DRIVE=4 ;
IOBUF PORT "nIRQout" IO_TYPE=LVCMOS33 PULLMODE=NONE DRIVE=4 ;
IOBUF PORT "nRAS" IO_TYPE=LVCMOS33 PULLMODE=NONE DRIVE=4 ;
IOBUF PORT "nRCS" IO_TYPE=LVCMOS33 PULLMODE=NONE DRIVE=4 ;
IOBUF PORT "nRESout" IO_TYPE=LVCMOS33 PULLMODE=NONE DRIVE=4 ;
IOBUF PORT "nRWE" IO_TYPE=LVCMOS33 PULLMODE=NONE DRIVE=4 ;
IOBUF PORT "MOSI" IO_TYPE=LVCMOS33 PULLMODE=KEEPER ;
IOBUF PORT "BD[0]" IO_TYPE=LVCMOS33 PULLMODE=KEEPER ;
IOBUF PORT "BD[1]" IO_TYPE=LVCMOS33 PULLMODE=KEEPER ;
IOBUF PORT "BD[2]" IO_TYPE=LVCMOS33 PULLMODE=KEEPER ;
IOBUF PORT "BD[3]" IO_TYPE=LVCMOS33 PULLMODE=KEEPER ;
IOBUF PORT "BD[4]" IO_TYPE=LVCMOS33 PULLMODE=KEEPER ;
IOBUF PORT "BD[5]" IO_TYPE=LVCMOS33 PULLMODE=KEEPER ;
IOBUF PORT "BD[6]" IO_TYPE=LVCMOS33 PULLMODE=KEEPER ;
IOBUF PORT "BD[7]" IO_TYPE=LVCMOS33 PULLMODE=KEEPER ;
IOBUF PORT "RD[0]" IO_TYPE=LVCMOS33 PULLMODE=KEEPER ;
IOBUF PORT "RD[1]" IO_TYPE=LVCMOS33 PULLMODE=KEEPER ;
IOBUF PORT "RD[2]" IO_TYPE=LVCMOS33 PULLMODE=KEEPER ;
IOBUF PORT "RD[3]" IO_TYPE=LVCMOS33 PULLMODE=KEEPER ;
IOBUF PORT "RD[4]" IO_TYPE=LVCMOS33 PULLMODE=KEEPER ;
IOBUF PORT "RD[5]" IO_TYPE=LVCMOS33 PULLMODE=KEEPER ;
IOBUF PORT "RD[6]" IO_TYPE=LVCMOS33 PULLMODE=KEEPER ;
IOBUF PORT "RD[7]" IO_TYPE=LVCMOS33 PULLMODE=KEEPER ;
IOBUF PORT "CLKin" PULLMODE=NONE IO_TYPE=LVCMOS33 ;
LOCATE COMP "CLKin" SITE "38" ;
LOCATE COMP "RCLK" SITE "39" ;
IOBUF PORT "RCLK" IO_TYPE=LVCMOS33 PULLMODE=NONE DRIVE=24 SLEWRATE=FAST ;
VOLTAGE 3.300 V;
LOCATE COMP "LED" SITE "81" ;
IOBUF PORT "LED" IO_TYPE=LVCMOS33 DRIVE=24 PULLMODE=NONE ;
